body {
    padding: 0;
    margin: 0 auto;
}

#input_parameteres {
    display: none;
}

html {
    box-sizing: border-box;
  }

.gamePanel {
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameField {
  position: absolute;
}